$primary-lighter: hsl(0, 95, 98);
$primary-light: hsl(0, 95, 95);
$primary: hsl(0, 95, 90);
$primary-dark: hsl(0, 95, 85);
$primary-darker: hsl(0, 95, 80);
$primary-darkest: hsl(0, 100, 70);

$secondary-lightest: hsl(215, 30, 30);
$secondary-lighter: hsl(215, 30, 25);
$secondary-light: hsl(215, 30, 25);
$secondary: hsl(215, 30, 20);
$secondary-dark: hsl(215, 30, 15);
$secondary-darker: hsl(215, 30, 10);
$secondary-darkest: hsl(215, 30, 5);

$neutral: hsl(90, 100, 60);

$win: hsl(120, 50, 50);
$lose: hsl(0, 50, 50);
