@use '../../sass/vars';
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@keyframes pulse {
	to {
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.05);
		visibility: hidden;
	}
}

@keyframes goUp {
	from {
		bottom: 0;
		opacity: 1;
	}
	to {
		bottom: 8px;
		opacity: 0;
	}
}

@keyframes goDown {
	from {
		top: 0;
		opacity: 1;
	}
	to {
		top: 8px;
		opacity: 0;
	}
}

.Game-container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	& > div:first-child {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 10px;
		& > div:first-child {
			order: 1;
		}
		& > div:last-child {
			order: 0;
		}
	}
	& > div:last-child {
		border: 2px solid transparent;
		box-sizing: content-box;
		padding: 2px;
	}
	&._win > div:last-child {
		animation: pulse 0.4s;
		box-shadow: 0 0 0 0 vars.$win;
	}
	&._lose > div:last-child {
		animation: pulse 0.4s;
		box-shadow: 0 0 0 0 vars.$lose;
	}

	.aftergame-options {
		width: 90vw;
		max-width: 350px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 5px;
		background-color: hsla(hue(vars.$primary-light), 50, 50, 0.25);
		border-radius: 5px;
		padding: 20px;
		font-size: 1rem;
		label {
			width: 100%;
			text-align: center;
			color: vars.$secondary-darkest;
			font-family: sans-serif;
			font-size: 1em;
			cursor: pointer;
			user-select: none;
			input {
				display: none;
			}
			strong {
				font-size: 1.2em;
			}
			span {
				color: vars.$primary-light;
				font-weight: 600;
			}
			margin-bottom: 5px;
		}
		button {
			width: 100%;
			border: 0;
			outline: 0;
			background-color: vars.$secondary-lightest;
			border-radius: 16px;
			font-size: 0.9em;
			padding: 0.4em;
			color: vars.$secondary-darkest;
			cursor: pointer;
		}
	}
}

@media (min-width: 768px) {
	.Game-container {
		flex-direction: row;
		& > div:first-child {
			& > div:first-child {
				order: 0;
			}
			& > div:last-child {
				order: 1;
			}
		}
	}
}
