@use '../../sass/vars';
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@keyframes pulse {
	to {
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.05);
		visibility: hidden;
	}
}

@keyframes goUp {
	from {
		bottom: 0;
		opacity: 1;
	}
	to {
		bottom: 8px;
		opacity: 0;
	}
}

@keyframes goDown {
	from {
		top: 0;
		opacity: 1;
	}
	to {
		top: 8px;
		opacity: 0;
	}
}

.Game-container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	& > div:last-child {
		border: 2px solid transparent;
		box-sizing: content-box;
		padding: 2px;
	}
	&._win > div:last-child {
		animation: pulse 0.4s;
		box-shadow: 0 0 0 0 vars.$win;
	}
	&._lose > div:last-child {
		animation: pulse 0.4s;
		box-shadow: 0 0 0 0 vars.$lose;
	}
}

@media (min-width: 768px) {
	.Game-container {
		flex-direction: row;
		gap: 0;
	}
}
