@use '../../sass/vars';

.Login_select-container {
	font-size: 2.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 5px;

	button {
		font-size: 1em;
		padding: 0.2em 0.6em;
		cursor: pointer;

		border: 4px solid currentColor;
		background-color: transparent;

		border-radius: 16px;

		font-family: sans-serif;
		font-weight: 600;
		color: vars.$primary-darkest;

		text-transform: uppercase;

		&:focus {
			outline: 5px solid vars.$secondary-lightest;
		}
	}
	span {
		font-weight: 600;
		font-family: sans-serif;
		color: vars.$secondary-darker;
		user-select: none;
	}
}
