@use '../../sass/vars';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

@mixin button_navbar {
	width: 100%;
	text-align: center;
	padding: 0.4em 0;
	font-family: 'Source Sans Pro', sans-serif;
	background-color: vars.$primary-dark;
	font-size: 0.6em;
	font-weight: 800;
	cursor: pointer;
}

.open-navbar-bt {
	position: absolute;

	top: 10px;
	left: 0;
	width: 40vw;
	max-width: 400px;

	font-size: 2rem;
	font-family: monospace;
	font-weight: 600;

	background-color: transparent;
	text-align: center;
	z-index: 1050;

	color: vars.$primary-darker;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, 0);

		width: 70%;
		max-width: 100px;
		height: 100%;

		border-radius: 16px;
		z-index: 50;
		cursor: pointer;

		border: 2px solid vars.$primary-darker;
	}
}

#open-navbar {
	display: none;
	&:checked + label ~ .Navbar-container {
		left: 0;
		z-index: 1000;
		& ~ .Navbar-background {
			z-index: 500;
			background-color: rgba(0, 0, 0, 0.4);
		}
	}
}

.Navbar-container {
	position: absolute;
	top: 0;
	left: -40%;
	z-index: -1000;

	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 5px;
	background-color: transparent;

	font-size: 2rem;
	height: 100vh;
	width: 40vw;
	max-width: 400px;

	transition: all 0.3s;

	label {
		@include button_navbar;

		&[for='Login'] {
			position: absolute;
			bottom: 20px;
			border: 0;
		}
	}

	input {
		display: none;
		&:checked + label {
			background-color: vars.$secondary-dark;
			color: white;
		}
	}

	&::after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: vars.$secondary-lightest;
		opacity: 0.85;
		z-index: -100;
	}
}

.logout-bt,
.logout-options {
	@include button_navbar;
	border: 0;
	position: absolute;
	bottom: 20px;
	height: 50px;
}

.logout-options {
	@include button_navbar;
	cursor: default;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	gap: 5px;
	padding: 0 5px;
	button {
		flex: 1 1 auto;
		font-size: 0.9rem;
		font-weight: 800;
		cursor: pointer;
		border: 0;
		padding: 5px 0;
		border-radius: 99px;
		background-color: vars.$primary;
	}
}

.Navbar-background {
	position: absolute;
	top: 0;
	left: 0;
	background-color: transparent;
	width: 100vw;
	height: 100vh;
	transition: background-color 0.2s 0.2s;
	z-index: -500;
}

.hide {
	display: none;
}
